<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>

<body>
    <form action="/todo" method='POST'>
        <input type="text" name='newTask'>
        <input type="submit" value="ADD">
    </form>
    <ul>
        {{#each tasks as |task|}}
        <li>{{task}}</li>
        {{/each}}
    </ul>
</body>

</html>