<footer class="bd-footer text-muted">
	<div class="container-fluid p-">
		<!-- <ul class="bd-footer-links">
			<li><a href="https://github.com/i-sanyam">GitHub</a></li>
			<li><a href="https://twitter.com/getbootstrap">Twitter</a></li>
			<li><a href="/docs/4.5/examples/">Examples</a></li>
			<li><a href="/docs/4.5/about/overview/">About</a></li>
		</ul> -->

		<p>
			2020. Designed and built with all the love in the world by
			<a href="https://github.com/i-sanyam">Sanyam Aggarwal</a>
		</p>
	</div>
</footer>
