<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Person</title>
</head>

<body>
    <h3>Add Person Portal</h3>
    <form action="/add" method="post">
        <input type="text" name="name" id="nameip" placeholder="Name">
        <br>
        <input type="number" name="age" id="ageip" placeholder="Age">
        <br>
        <input type="text" name="city" id="cityip" placeholder="City">
        <br><br>
        <button type="submit">Add</button>
    </form>
</body>

</html>